@import '../theme.scss';
@import './animations.scss';

.centered {
    @include all_center
}

.contactme_container {
    width:100%;
    background: #fff;
    height:800px;
    @media (max-width: $screen-xs-max) {
        height: 1000px;
    }
    @media (max-width: $screen-ss-max) {
        height: 1200px;
    }
}

.aboutme_container {
    width:100%;
    background: #000;
    height:600px;
    @media (max-width: $screen-xs-max) {
        height: 800px;
    }
    @media (max-width: $screen-ss-max) {
        height: 900px;
    }
}

.home_container{
    width:100%;
    background: url('../assets/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    @media (max-width: $screen-xs-max) {
        height: 500px;
    }
    @media (max-width: $screen-ss-max) {
        height: 400px;
    }
}

.responsive_row {
    @media (max-width: $screen-xs-max) {
        flex-direction: column;
    }
    @media (max-width: $screen-ss-max) {
        flex-direction: column;
    }
}

.title {
    margin-bottom: 0;
}

.title_border {
    border-bottom: 1px dotted #f3f5f8;
}

.subtitle {
    display: flex;
    margin-top: 0;
    margin-left: 2px;
    &:after {
        animation-name: fadeInUp;
        animation-duration:  10s;
        animation-iteration-count: infinite ;
        animation-fill-mode: both;
        display: block;
        content: "Front End Developer";
    }
    line-height:50px;
}

.justified {
    text-align:justify;
}

.intro_icon {
    display: flex;
    margin:0;
    animation-name: rotate;
    animation-duration:  10s;
    animation-iteration-count: infinite ;
    animation-fill-mode: both;
    animation-timing-function: linear;
    display:block;
}

.contact_box {
    background-color: #f3f5f8;
    padding-top: 20px;
    padding-bottom: 20px;
    @include all_center;
    border-bottom: 2px solid cyan;
    height:200px;
}