@import '../theme.scss';
@import './animations.scss';

.centered {
    @include all_center
}

.contactme_container, .blog_container, .skills_container {
    background: #fff;
}

.aboutme_container, .career_container{
    background: $r-grey;
}

.games_container{
    background: linear-gradient(to right, $r-blue3, $r-blue4);
}
.home_container{
    width:100%;
    background: url('../assets/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    @media (max-width: $screen-xs-max) {
        height: 500px;
    }
    @media (max-width: $screen-ss-max) {
        height: 400px;
    }
}


.responsive_row {
    @media (max-width: $screen-xs-max) {
        flex-direction: column;
    }
    @media (max-width: $screen-ss-max) {
        flex-direction: column;
    }
}

.title {
    margin-bottom: 0;
}

.title_border {
    border-bottom: 1px dotted #f3f5f8;
}

.subtitle {
    display: flex;
    margin-top: 0;
    margin-left: 2px;
    &:after {
        animation-name: fadeInUp;
        animation-duration:  10s;
        animation-iteration-count: infinite ;
        animation-fill-mode: both;
        display: block;
        content: "Front End Developer";
    }
    line-height:50px;
}

.justified {
    text-align:justify;
}

.intro_icon {
    display: flex;
    margin:0;
    animation-name: rotate;
    animation-duration:  10s;
    animation-iteration-count: infinite ;
    animation-fill-mode: both;
    animation-timing-function: linear;
    display:block;
}

.contact_box {
    background-color: #f3f5f8;
    padding-top: 20px;
    padding-bottom: 20px;
    @include all_center;
    border-bottom: 3px solid cyan;
    border-radius: 10px;
    height:200px;
    transition: border-bottom 0.5s ease-in-out;
    &:hover {
        border-bottom: 3px solid red;
    }
}

.game_card {
    transition: all 0.5s ease-in-out;
    &:hover {
        padding-top: 0;
    }
}

.game_bg {
    width:100%;
    filter: grayscale(100%);
}

.game_bg:hover {
    filter: none;
}

.img_wrap {
    border: 2px solid $r-blue3;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
}

.icon_container {
    width: 180px;
    height: 180px;
    line-height: 185px;
    border-radius: 50%;
    border: 1px solid $r-blue;
    color: $r-blue;
    font-size: 60px;
    text-align: center;
    transition: all .3s ease-out;
    margin: 0 auto;
    margin-bottom: 40px;
    &:hover {
        background-color: $r-blue;
        font-size: 65px;
        color: #fff;
    }
}

.skill_container{
    justify-content: center;
    text-align: center;
}

.skill_description {
    text-align:justify;
    margin: auto;
    max-width: 350px;
}