.header{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    transition: width 1s, height 1s;
    border-bottom: 1px solid #000;
    z-index: 1000;
}

.header[menu-open='false']{
    width:0;
    height:0;
}
.header[menu-open='true']{
    width: 100%;
    height: 100px;
}

.footer{
    bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:0;
    text-align: center;
}